
/* font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif;*/

body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}
ul {
  padding:0;
  margin:0;
  list-style-type: none;
  display: inline-block;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.btn {
  border-radius: 0px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.modal-popup img {
  width: 100%;
}

.modal-dialog {
  width: 80%;
}
.item-title,.item-name {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
}
.item-title {
  font-size: 36px;
}
.item-name {
  font-size: 24px;
}
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
